<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/public/app.css" rel="stylesheet">
    </head>
    <body>
        <header>
          <h6 class="center-vert-absol">HelseID web example using Python</h6>
          <img id="lang-logo" class="abs-right center-vert-absol" src="public/Python-logo.svg" alt="HelseID logo"/>
        </header>
        <div class="container flex-column-center">
            <div class="login-container flex-column-center">
              <h5>Login with </h5>
              <a href="/login-helseid">
                <div class="btn helse-id-btn flex-column-center">
                  <img id='helseid-logo' src="public/HelseID_logo.svg" alt="HelseID logo" width="100%"/>
                </div>
              </a>
            </div>
        </div>
    </body>
</html>
